#dardanium.dropdown-item,
#dalmatium.dropdown-item {
  &:hover,
  &:focus {
    border-color: var(--bs-body-bg);
    border-radius: 8px;
    color: var(--bs-body-bg);
  }

  &#dardanium {
    &:hover,
    &:focus {
      background-color: var(--bs-success);
    }
  }

  &#dalmatium {
    &:hover,
    &:focus {
      background-color: var(--bs-secondary);
    }
  }
}

.auto-type,
.typed-cursor {
  color: var(--bs-secondary);
}

@media (min-width: 576px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.CodeMirror {
  text-align: left !important;
  border-radius: 10px;
}
