// SCSS
// illyrion.custom

// Set your brand colors
$il-primary: #dc3dcb;
$il-primary-dark: darken($il-primary, 20%);
$il-secondary: #19f5aa;
$il-secondary-dark: darken($il-secondary, 20%);

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $primary: $il-primary
);

// Import Bulma's core
@use "bulma/sass/utilities" as bulma;

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Gradients
@mixin gradient($first-arg, $second-arg) {
  background: linear-gradient(to right, $first-arg, $second-arg);
}

// Custom styles
.il-primary-color {
  @include gradient(bulma.$primary, $il-primary-dark);
  color: transparent !important;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.has-text-secondary {
  color: $il-secondary !important;
}

.auto-type,
.typed-cursor {
  @include gradient(bulma.$primary, $il-primary-dark);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.svg-icon {
  width: bulma.$size-1;
  height: bulma.$size-1;
  vertical-align: middle;
  border-radius: bulma.$radius;
}

#xCAD-nav:hover {
  background-color: $il-secondary;
  color: bulma.$black;
}

#xLIB-nav:hover {
  background-color: bulma.$primary;
  color: bulma.$black;
}

.product {
  border-style: solid;
  border-color: bulma.$primary;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 600px;
  margin: auto;
}

.member-card {
  text-align: center;
}

.member-icon {
  border: 2px solid bulma.$white;
}

.navbar {
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  &.is-hidden-scroll {
    transform: translateY(-100%);
  }
}
