services:
  db:
    image: ghcr.io/denoland/denokv:latest
    container_name: xodiumdb
    command: --sqlite-path /data/xodium.db serve --access-token $${DB_ACCESS_TOKEN}
    ports: [ "4512:4512" ]
    environment:
      DB_ACCESS_TOKEN: $${DB_ACCESS_TOKEN}
    volumes: [ data:/data ]
    restart: unless-stopped

  web:
    build: .

    container_name: xodiumweb
    ports: [ "8000:8000" ]
    environment:
      DB_ACCESS_TOKEN: $${DB_ACCESS_TOKEN}
      DENO_KV_URL: "http://db:4512"
    depends_on: [ db ]
    restart: unless-stopped

volumes: { data: }