<!-- Footer -->
<footer class="footer">
  <div class="columns is-mobile is-vcentered">
    <div class="column has-text-left">
      <p>© 2024 ILLYRION SOFTWARE INC</p>
    </div>
    <div class="column has-text-centered">
      <a href="https://bulma.io" target="_blank">
        Made with
        <img
          src="https://bulma.io/assets/brand/Bulma%20Logo%20White.svg"
          alt="Made with Bulma"
          width="128"
          height="24"
        />
      </a>
    </div>
    <div class="column has-text-right">
      <p>Open-Source (CAD) Software Company</p>
    </div>
  </div>
</footer>
