<!-- Header -->
<header class="is-mobile is-vcentered">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <!-- Navbar brand -->
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>ILLYRION</strong>
        </a>
        <!-- Burger menu for mobile view -->
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <!-- Navbar menu -->
      <div id="navbarMenu" class="navbar-menu">
        <!-- Navbar start -->
        <div class="navbar-start">
          <!-- TOOLS item -->
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item">
              TOOLS
              <i
                id="tools-chevron"
                class="fas fa-chevron-down ml-2 has-text-link"
              ></i>
            </a>
            <div class="navbar-dropdown">
              <!-- Dardanium dropdown item -->
              <a
                class="navbar-item"
                id="dardanium"
                href="https://github.com/IllyrionSoftware/Dardanium"
              >
                <img class="mr-2" src="./assets/img/dardanium.svg" alt="" />
                <strong>Dardanium</strong>
              </a>
              <!-- Dalmatium dropdown item -->
              <a
                class="navbar-item"
                id="dalmatium"
                href="https://github.com/IllyrionSoftware/Dalmatium"
              >
                <img class="mr-2" src="./assets/img/dalmatium.svg" alt="" />
                <strong>Dalmatium</strong>
              </a>
            </div>
          </div>
          <!-- TEAM item -->
          <a class="navbar-item" href="./team.html"> TEAM </a>
        </div>
        <!-- Navbar end -->
        <div class="navbar-end">
          <!-- Discord item -->
          <a
            class="navbar-item"
            href="https://discord.gg/88QWgaavRq"
            target="_blank"
          >
            <span class="icon">
              <i class="fab fa-discord"></i>
            </span>
          </a>
          <!-- Docs item -->
          <a
            class="navbar-item"
            href="https://wiki.illyrion.eu/"
            target="_blank"
          >
            <span class="icon">
              <i class="fas fa-book"></i>
            </span>
          </a>
          <!-- Github item -->
          <a
            class="navbar-item"
            href="https://github.com/IllyrionSoftware"
            target="_blank"
          >
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
