/* illyrion.custom.css */
@import "./illyrion.variables.css";

.il-primary-color {
  background-image: var(--il-primary-gradient) !important;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.il-secondary-color {
  color: var(--il-secondary-color) !important;
}

.auto-type,
.typed-cursor {
  background-image: var(--il-primary-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.CodeMirror {
  text-align: left !important;
  border-radius: var(--il-radius-l);
}

.svg-icon {
  width: var(--il-size-xl);
  height: var(--il-size-xl);
  vertical-align: middle;
  border-radius: var(--il-radius-l);
}

#dardanium.navbar-item:hover {
  background-color: var(--il-secondary-color);
  color: var(--il-dark-color);
}

#dalmatium.navbar-item:hover {
  background-color: var(--il-primary-color);
  color: var(--il-dark-color);
}

.product {
  border-style: solid;
  border-color: var(--il-primary-color);
}
