@import "./illyrion.variables.css";

.il-primary-color {
  color: var(--il-primary-color) !important;
}

.il-secondary-color {
  color: var(--il-secondary-color) !important;
}

.auto-type,
.typed-cursor {
  color: var(--il-primary-color);
}

.CodeMirror {
  text-align: left !important;
  border-radius: var(--il-radius-l);
}

.svg-icon {
  width: var(--il-size-xl);
  height: var(--il-size-xl);
  vertical-align: middle;
  border-radius: var(--il-radius-l);
}
