@import url("constants.css");

/* Body styles */
body {
  font-family: var(--IL-font-family-sans);
  padding: var(--IL-padding-m);
}

/* Button styles */
button {
  background-color: var(--IL-primary-color);
  border-radius: var(--IL-border-radius-s);
  box-shadow: var(--IL-shadow-light);
}

/* Add your custom styles below */
/* ... */
