{{# button_0.vto #}}
<button class="bg-transparent hover:bg-gradient-to-r from-[#CB2D3E] to-[#EF473A] text-black dark:text-white font-medium hover:text-white py-2 px-4 border-2 border-[#CB2D3E] hover:border-transparent rounded-lg">{{text}}</button>