{{# Copyright (c) 2025. Xodium.
All rights reserved. #}}
<button class="text-sm font-semibold leading-6 text-black dark:text-white hover:text-[#CB2D3E]">{{text}}<span aria-hidden="true"> →</span></button>