{{# Copyright (c) 2025. Xodium.
All rights reserved. #}}
<button class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-slate-100 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">{{text}}</button>